.css-e657no {
    background-image: linear-gradient(to left, rgb(203, 94, 238), rgb(12, 215, 228));
    color: transparent;
    background-clip: text;
    font-weight: var(--chakra-fontWeights-black);
    cursor: pointer;
    font-size: var(--chakra-fontSizes-2xl);
}

.css-11gqis1 {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: 100%;
    line-height: 1.2;
    background-color:#805ad5;
}

.bg-purple{
    background-color:#805ad5;
}
.build-head-font{
    font-family: 'Permanent Marker', cursive;
    
}
body{
    font-family: 'Roboto', sans-serif;
}

.bg-button{
    background-color: #e2e8f0;
}

.bg-container{
    background-color: #f7fafc;
}

