* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    font-family: "Open Sans", sans-serif;
} 
 /* Navbar Section */
  #navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 4px;
}

/* HOME SECTİON */

#home{
    margin-top: 2.5em;
    margin-bottom: 3em;
}  
#home img{
    border-radius: 50%;
}

#home .name{
    margin: 0.5em 0;
}

#home .job{
    font-style: italic;
    color: rgba(0, 0, 0, 0.549);
}

#home .btn.btn-primary {
    display: inline-block;
    margin-top: 125px;
}

#home a:hover{
    background-color: #fff;
    color: #336ea2;
    border: 1px solid #336ea2;
}

/* EDUCATİON SECTİON */

#education{
    color: #fff;

}
#education ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.75em;
}
#education ul li{
    min-width: 33%;
    padding: 1em 1.5em 0 1.5em;
}
#education ul li h4{
    padding: 0 0 0.5em 0;
}
#education h3{
    padding-top: 0.75em;
}

/*KURSLAR SECTİON */
#kurslar h3{
    padding-top: 1em;
    letter-spacing: 5px;
}
#kurslar .course{
    display: flex;
    padding-top: 2em;
}

#kurslar .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-image img{
    border: 1px solid #fff;
    border-radius: 7px;
}

.content .description,.author,.rating{
    padding-bottom: 0.25em;
    padding-left: 1em;
}

.content .title{
    font-weight: 800;
    padding-left: 0.85em;
    letter-spacing: 2px;
}

.content .description,.author,.rating{
    opacity: 0.4;
}