#kurslar .course{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kurslar .content{
    align-items: center;
}

#kurslar img{
    width: 350px;
}

#contact #form{
    width: 70%;
}